@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( #{ nth( $spriteVals, 6 ) } );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
$sprite_logo_svgPath: '../img/sprite_logo.svg';
$sprite_logo_svgURL: $sprite_logo_svgPath + '.png';
$sprite_logo_svgx2URL: $sprite_logo_svgPath + '@2.png';
$bgiSizeW: 1110px;
$bgiSizeH: 1110px;
$active_directory: 195px 48px $sprite_logo_svgURL -323px -657px $sprite_logo_svgx2URL;
$pivotal_tracker: 75px 75px $sprite_logo_svgURL -106px -643px $sprite_logo_svgx2URL;
$angular: 70.5px 75px $sprite_logo_svgURL -930px -498px $sprite_logo_svgx2URL;
$zeplin: 78.80434782608695px 75px $sprite_logo_svgURL -104px -498px $sprite_logo_svgx2URL;
$zendesk: 88px 63px $sprite_logo_svgURL -630px -504px $sprite_logo_svgx2URL;
$trello: 150px 46px $sprite_logo_svgURL -346px -513px $sprite_logo_svgx2URL;
$build: 40px 40px $sprite_logo_svgURL -654px -661px $sprite_logo_svgx2URL;
$preflight: 41px 41px $sprite_logo_svgURL -653px -899px $sprite_logo_svgx2URL;
$little_better: 36px 40px $sprite_logo_svgURL -947px -900px $sprite_logo_svgx2URL;
$lean: 36px 34px $sprite_logo_svgURL -403px -799px $sprite_logo_svgx2URL;
$launch: 24px 43px $sprite_logo_svgURL -131px -999px $sprite_logo_svgx2URL;
$iterate: 37.999999999999986px 38px $sprite_logo_svgURL -655px -797px $sprite_logo_svgx2URL;
$got_your_back: 36px 39px $sprite_logo_svgURL -125px -797px $sprite_logo_svgx2URL;
$do_the_right_thing: 37.999999999999986px 38px $sprite_logo_svgURL -402px -901px $sprite_logo_svgx2URL;
$design_thinking: 37px 40px $sprite_logo_svgURL -947px -796px $sprite_logo_svgx2URL;
$contact_us: 36px 36px $sprite_logo_svgURL -403px -1003px $sprite_logo_svgx2URL;
$celebrate_the_win: 36px 38px $sprite_logo_svgURL -656px -1002px $sprite_logo_svgx2URL;
$call_us: 34px 34px $sprite_logo_svgURL -948px -1004px $sprite_logo_svgx2URL;
$be_fearless: 40px 40px $sprite_logo_svgURL -123px -900px $sprite_logo_svgx2URL;
$agile_development: 42px 30px $sprite_logo_svgURL -944px -666px $sprite_logo_svgx2URL;
$sap: 117px 58px $sprite_logo_svgURL -615px -59px $sprite_logo_svgx2URL;
$adp: 135px 62px $sprite_logo_svgURL -353px -57px $sprite_logo_svgx2URL;
$nitrous_effect: 133px 74px $sprite_logo_svgURL -899px -51px $sprite_logo_svgx2URL;
$slack: 160px 48px $sprite_logo_svgURL -885px -364px $sprite_logo_svgx2URL;
$sketch: 67px 61px $sprite_logo_svgURL -640px -358px $sprite_logo_svgx2URL;
$ionic: 140px 49px $sprite_logo_svgURL -351px -364px $sprite_logo_svgx2URL;
$invision: 66px 66px $sprite_logo_svgURL -110px -355px $sprite_logo_svgx2URL;
$jira: 140px 57px $sprite_logo_svgURL -895px -208px $sprite_logo_svgx2URL;
$ios: 75px 48px $sprite_logo_svgURL -636px -213px $sprite_logo_svgx2URL;
$ruby: 69px 68px $sprite_logo_svgURL -109px -203px $sprite_logo_svgx2URL;
$box: 112px 62px $sprite_logo_svgURL -87px -57px $sprite_logo_svgx2URL;
$photoshop: 70px 68px $sprite_logo_svgURL -386px -203px $sprite_logo_svgx2URL;
$sprite_logo_svgList: $active_directory active_directory, $pivotal_tracker pivotal_tracker, $angular angular, $zeplin zeplin, $zendesk zendesk, $trello trello, $build build, $preflight preflight, $little_better little_better, $lean lean, $launch launch, $iterate iterate, $got_your_back got_your_back, $do_the_right_thing do_the_right_thing, $design_thinking design_thinking, $contact_us contact_us, $celebrate_the_win celebrate_the_win, $call_us call_us, $be_fearless be_fearless, $agile_development agile_development, $sap sap, $adp adp, $nitrous_effect nitrous_effect, $slack slack, $sketch sketch, $ionic ionic, $invision invision, $jira jira, $ios ios, $ruby ruby, $box box, $photoshop photoshop;
@each $icon in $sprite_logo_svgList {
	$sprite_logo_svgName: nth( $icon, 2 );
	$sprite_logo_svgClass: nth( $icon, 1 );
	.icon-#{$sprite_logo_svgName} {
		@include cssSprite( $sprite_logo_svgClass );
	}
}
