
// Colors
$lt-gray:   #F6F6F6;
$teal:      #29AEA9;
$dark-teal: #25A39E;
$purple:    #554085;
$orange:    #FB823C;
$gray:      #4D4D4D;
$white:     #ffffff;

// fonts
$head: 'Roboto Condensed', sans-serif;
$body: 'Source Sans Pro', sans-serif;

// images
$img-path: '../img/';

// branding
$logo-large: $img-path + 'logo--large.svg';

// client / stack logos
$logo-walmart:  $img-path + 'logo--walmart.svg'; 
$logo-sams:     $img-path + 'logo--sams.svg'; 
$logo-nfm:      $img-path + 'logo--nfm.svg'; 
$logo-purina:   $img-path + 'logo--purina.svg'; 
$logo-autozone: $img-path + 'logo--autozone.svg'; 
$logo-virgin:   $img-path + 'logo--virgin.svg'; 


// === page images

// home 
$img-hero-home: $img-path + 'home--hero--mobile.png';


// === page images !








// TESTING IMAGES REMOVE !!!
$test-img: $img-path + 'test-mobile--home.png';
$test: $img-path + $test-img;



