include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--home 
  
    //- global header
    include includes/header.jade

  
  section.bg-purple.hero.hero--about
    .container
      .text-wrap
        h1 Our Mission
        h2.sub-title We built RevUnit as a digital product studio because we recognize the impact great products have on their users.
        p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        a.btn-custom.btn--teal(href="") Watch Our Reel
      .img-wrap This is the image asset


  section.our-people
    .container
      .text-center.float-center
        h3.caps Our People
        p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        a.btn-custom.btn--teal(href="") Join Our Team
        div.img This is the image asset
  
  section.bg-teal.our-values
    .container
      .col-xs-12.col-md-6 
        .text-wrap
          h2 Our Values
          p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
      .col-xs-12.col-md-6 
        .our-values-values-wrap 
            .value.bg-dark-teal
                span.icon--ICON-NAME icon
                h4.caps BE FEARLESS
                span Design Thinking is an industry methodology for inclusive design
            .value.bg-dark-teal
                span.icon--ICON-NAME icon
                h4.caps BE FEARLESS
                span Design Thinking is an industry methodology for inclusive design
            .value.bg-dark-teal
                span.icon--ICON-NAME icon
                h4.caps BE FEARLESS
                span Design Thinking is an industry methodology for inclusive design
            .value.bg-dark-teal
                span.icon--ICON-NAME icon
                h4.caps BE FEARLESS
                span Design Thinking is an industry methodology for inclusive design
            .value.bg-dark-teal
                span.icon--ICON-NAME icon
                h4.caps BE FEARLESS
                span Design Thinking is an industry methodology for inclusive design



  section.bg-purple.leadership-team
    .container
        .row
            .text-center.float-center
                h3.caps Leadership team
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
                a.btn-custom.btn--orange(href="") Contact Us
        .row
            .col-xs-12.col-md-4.leadership-item
                .leadership-img leader image here
                .bg-white.text-wrap.text-center
                    h4 Joe Saumweber
                    p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
                    a.btn-custom.btn--orange(href="") View Profile
            .col-xs-12.col-md-4.leadership-item
                .leadership-img leader image here
                .bg-white.text-wrap.text-center
                    h4 Joe Saumweber
                    p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
                    a.btn-custom.btn--orange(href="") View Profile
            .col-xs-12.col-md-4.leadership-item
                .leadership-img leader image here
                .bg-white.text-wrap.text-center
                    h4 Joe Saumweber
                    p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
                    a.btn-custom.btn--orange(href="") View Profile



//- global foot
include includes/foot.jade
