include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--home 
  

    include includes/header.jade

  
  section.bg-teal.hero.hero--blog-post
    .container(style="background-image: url('http://placehold.it/350x150')")





  section.section-pad.blog-post-wrap
    .container
        .col-xs-12.col-md-8
            h2 Enterprise Apps Your Employees Will Love
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
            p Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna.
        aside.col-xs-12.col-md-4
          h4 Latest Posts
          ul.blog-sidebar-articles
            li
              a(href="#")
                img(src="http://placehold.it/50x50") 
                div
                  span.blog-sidebar-title this is the article title
                  span.date March 20, 2017
            li
              a(href="#")
                img(src="http://placehold.it/50x50") 
                div
                  span.blog-sidebar-title this is the article title
                  span.date March 20, 2017
            li
              a(href="#")
                img(src="http://placehold.it/50x50") 
                div
                  span.blog-sidebar-title this is the article title
                  span.date March 20, 2017
            li
              a(href="#")
                img(src="http://placehold.it/50x50") 
                div
                  span.blog-sidebar-title this is the article title
                  span.date March 20, 2017
            li
              a(href="#")
                img(src="http://placehold.it/50x50") 
                div
                  span.blog-sidebar-title this is the article title
                  span.date March 20, 2017



//- global foot
include includes/foot.jade
