include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--home 
  

    include includes/header.jade

  
  section.bg-teal.hero.hero--blog-landing
    .container
      .text-wrap.col-xs-12.col-md-6
        h5.caps Transform Your Workforce
        h1.title Enterprise Apps Built to Transform Your Workforce
        p Download your FREE guide to increasing productivity, learning, communication, and engagement in your workforce through enterprise technology.
        a.btn-custom.btn--white(href="#") Download Free Guide
      .img-wrap.col-xs-12.col-md-6
        img(src="http://placehold.it/350x150")
  




  section.section-pad.blog-grid-title-wrap
    .container
      .text-center.float-center
        .row
            h2.caps Workforce Transformation
            p Check out our amazing articles on empowering employees, enterprise digital transformation, building apps for HR & Talent management, working with IT, and enterprise app building.

    
  section.blog-grid-wrap
    .container
        .row.blog-row
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...


  section.section-pad.blog-grid-title-wrap
    .container
      .text-center.float-center
        .row
            h2.caps Workforce Transformation
            p Check out our amazing articles on empowering employees, enterprise digital transformation, building apps for HR & Talent management, working with IT, and enterprise app building.

    
  section.blog-grid-wrap
    .container
        .row.blog-row
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...


  section.section-pad.blog-grid-title-wrap
    .container
      .text-center.float-center
        .row
            h2.caps Workforce Transformation
            p Check out our amazing articles on empowering employees, enterprise digital transformation, building apps for HR & Talent management, working with IT, and enterprise app building.

    
  section.blog-grid-wrap
    .container
        .row.blog-row
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...


  section.section-pad.blog-grid-title-wrap
    .container
      .text-center.float-center
        .row
            h2.caps Workforce Transformation
            p Check out our amazing articles on empowering employees, enterprise digital transformation, building apps for HR & Talent management, working with IT, and enterprise app building.

    
  section.blog-grid-wrap
    .container
        .row.blog-row
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...
            .col-xs-12.col-md-4
                a(href="#").shadow.bg-white.grid-blog-post
                    .img-wrap
                        img(src="http://placehold.it/350x150")
                    .text-wrap 
                        span.caps.blog-grid-cat Workforce Transformation 
                        h4 Enterprise Apps Your Employees Will Love
                        p Lorem ipsum gravida nibh vel velit auctor aliqunean sollicitudinlorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis...




//- global foot
include includes/foot.jade
