include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--clients
  
    //- global header
    include includes/header.jade

  
  section.bg-gray.hero.hero--clients
    .container
        .row
            .text-wrap
                h1 Our Clients
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div
                .col-xs-6.col-md-2.client-logo
                    div

  section.our-people
    .container
      .text-center.float-center
        .row
            h3.caps Our Partners
            p The measure of RevUnit’s success is the caliber of people we are able to attract to our cause. Selfless, smart, and innovative -- our team continues to show that the right people can overcome obstacles of scale, complexity, and innovation. We’ve got the right team.
            a.btn-custom.btn--teal(href="") Join RevUnit's Team
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo



  section.bg-purple.our-stack
    .container
        .row
            .text-center.float-center
                h3.caps Our Stack
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo

  section.bg-purple.integrations
    .container
        .row
            .text-center.float-center
                h3.caps Integrations
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo
                .col-xs-6.col-md-2.client-logo
                    div logo


//- global foot
include includes/foot.jade
