include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--clients
  
    //- global header
    include includes/header.jade

  
  section.bg-gray.hero.hero--clients
    .container
        .row
            .text-wrap.text-center.float-center
                h1.title.caps Our Clients
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo.logo--walmart
                .col-xs-6.col-md-2.client-logo.logo--sams 
                .col-xs-6.col-md-2.client-logo.logo--virgin 
                .col-xs-6.col-md-2.client-logo.logo--autozone 
                .col-xs-6.col-md-2.client-logo.logo--purina 
                .col-xs-6.col-md-2.client-logo.logo--nfm 


  section.our-people
    .container
      .text-center.float-center
        .row
            h2.caps Our Partners
            p The measure of RevUnit’s success is the caliber of people we are able to attract to our cause. Selfless, smart, and innovative -- our team continues to show that the right people can overcome obstacles of scale, complexity, and innovation. We’ve got the right team.
            a.btn-custom.btn--teal(href="") Join RevUnit's Team

c





  section.bg-white.our-stack.section-pad
    .container 
        .row
            .text-center.float-center
                h2.caps Our Stack
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-pivotal_tracker
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-trello
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-jira
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-slack
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-invision
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-sketch

        .row
            .logo-last-row-center
                .logo-wrap
                    .col-xs-6.col-md-2.client-logo
                        .icon-zeplin
                .logo-wrap
                    .col-xs-6.col-md-2.client-logo
                        .icon-ios 
                .logo-wrap
                    .col-xs-6.col-md-2.client-logo
                        .icon-angular
                .logo-wrap 
                    .col-xs-6.col-md-2.client-logo
                        .icon-ruby 
                .logo-wrap
                    .col-xs-6.col-md-2.client-logo
                        .icon-ionic




  section.bg-purple.integrations.section-pad
    .container
        .row
            .text-center.float-center
                h2.caps Integrations
        .row
            .logo-wrap
                .col-xs-6.col-md-2.client-logo.kill-on-mobile
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-active_directory
            .logo-wrap 
                .col-xs-6.col-md-2.client-logo
                    .icon-adp
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-zendesk 
            .logo-wrap
                .col-xs-6.col-md-2.client-logo
                    .icon-sap
            .logo-wrap
                .col-xs-6.col-md-2.client-logo.kill-on-mobile


//- global foot
include includes/foot.jade
