include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--home 
  
    //- global header
    include includes/header.jade

  
  section.bg-teal.hero.hero--home
    .container
      .text-wrap
        h1.text-center Enterprise Apps Built to Transform Your Workforce
        a.btn-custom.btn--white(href="") Watch Our Reel
      .img-wrap 
  
  section.partner-logos-home
    .container
      .row
        .col-xs-6.col-md-2.kill-text.logo.logo--walmart Walmart
        .col-xs-6.col-md-2.kill-text.logo.logo--sams Walmart
        .col-xs-6.col-md-2.kill-text.logo.logo--virgin Walmart
        .col-xs-6.col-md-2.kill-text.logo.logo--autozone Walmart
        .col-xs-6.col-md-2.kill-text.logo.logo--purina Walmart
        .col-xs-6.col-md-2.kill-text.logo.logo--nfm Walmart

  section.section-pad.innovation
    .container
      .text-center.float-center
        h3.caps INNOVATION AT WORK
        p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        a.btn-custom.btn--teal(href="") See Our Work
        div.img This is the image asset
  
  section.section-pad.bg-purple.what-we-do
    .container
      .col-xs-12.col-md-6 
        .text-wrap
          h6.caps What we do
          h2 We empower employees to be happier & more productive.
          p We build mobile platforms for increased communication, productivity, learning, engagement & access to job-essential data. Ultimately, our goal is to help you connect your people with purpose.
          a.btn-custom.btn--teal(href="") Learn More
      .col-xs-12.col-md-6 
        div.img this is the image asset

  section.section-pad.who-we-work-with
    .container
      .col-xs-12.col-md-6 
        div.img this is the image asset
      .col-xs-12.col-md-6 
        .text-wrap
          h6.caps Who we work with 
          h2 Workforce Transformation starts with leaders like you.
          p At RevUnit we work with passionate employee advocates like CHRO’s, CEO’s, COO’s, CIO’s, & CTO’s who want to make a difference in the lives of their employees and their bottom line. Instead of using technology to “manage” staff, brands must give their people the tools to build the future.
          a.btn-custom.btn--orange(href="") Learn More

  section.section-pad.bg-teal.how-we-work
    .container
      .col-xs-12.col-md-6 
        .text-wrap
          h6.caps How we work
          h2 Your new platform for winning hearts and minds.
          p Your new platform for winning hearts and minds.
          a.btn-custom.btn--purple(href="") Learn More
      .col-xs-12.col-md-6 
        div.img this is the image asset


  section.section-pad.your-culture-your-workflow
    .container
      .row
        .text-center.float-center
          h3.caps YOUR CULTURE, YOUR WORKFLOW.
          p Working with the largest, most complex organizations has taught us transforming your workforce starts with enriching your current culture and reducing workflow complexity. You can see below we work with a variety of enterprise clients, we can help you too.
          a.btn-custom.btn--orange(href="")  RevUnit’s Clients & Partners
      .row.workflow-wrap
        .col-xs-12.col-md-4
          .shadow.bg-white.home-partner-wrap
            .partner-logo.kill-text.logo--walmart this is the walmart logo
            .text-center.text-wrap Building platforms to drive productivity, learning & communication for the world's biggest retailer.
        .col-xs-12.col-md-4
          .shadow.bg-white.home-partner-wrap
            .partner-logo.kill-text.logo--autozone this is the walmart logo
            .text-center.text-wrap Building platforms to drive productivity, learning & communication for the world's biggest retailer.
        .col-xs-12.col-md-4
          .shadow.bg-white.home-partner-wrap
            .partner-logo.kill-text.logo--virgin this is the walmart logo
            .text-center.text-wrap Building platforms to drive productivity, learning & communication for the world's biggest retailer.

  section.section-pad.bg-gray.expertise
    .container
      .row
        .text-center.float-center
          h2.caps OUR EXPERTISE
          p As a digital product studio specializing in workforce transformation, RevUnit is uniquely positioned to help your brand navigate the changing needs of doing business. Our mantra is Build Small. Learn Fast. Iterate Often.
      .row.workflow-wrap
        .col-xs-6.col-md-3
          .text-center
            h4.caps PRODUCT STRATEGY
            .text-wrap Building the right product for both the organization and user through innovative enterprise HR & product development strategies.
        .col-xs-6.col-md-3
          .text-center
            h4.caps PRODUCT STRATEGY
            .text-wrap Building the right product for both the organization and user through innovative enterprise HR & product development strategies.
        .col-xs-6.col-md-3
          .text-center
            h4.caps PRODUCT STRATEGY
            .text-wrap Building the right product for both the organization and user through innovative enterprise HR & product development strategies.
        .col-xs-6.col-md-3
          .text-center
            h4.caps PRODUCT STRATEGY
            .text-wrap Building the right product for both the organization and user through innovative enterprise HR & product development strategies.

  //- section.blog-grid.blog-grid--home
  //-   .container
  //-     .row
  //-       .text-center.float-center
  //-         h3 Your transformation partner in digital workforce success.
  //-         a.btn-custom.btn--orange(href="")  Transforming Your Workforce
  //-     .row.blog-grid-wrap
  //-       .col-xs-12.col-md-4
  //-         div.shadow.bg-white
  //-           a.blog-grid-img(href="") this is the blog image here
  //-           .text-wrap
  //-             a.blog-grid-cat.caps(href="") PRODUCT DEVELOPMENT 
  //-             a.blog-grid-title
  //-               h5 How to Prevent Technical Debt
  //-             a.blog-grid-intro
  //-               p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  //-       .col-xs-12.col-md-4
  //-         div.shadow.bg-white
  //-           a.blog-grid-img(href="") this is the blog image here
  //-           .text-wrap
  //-             a.blog-grid-cat.caps(href="") PRODUCT DEVELOPMENT 
  //-             a.blog-grid-title
  //-               h5 How to Prevent Technical Debt
  //-             a.blog-grid-intro
  //-               p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  //-       .col-xs-12.col-md-4
  //-         div.shadow.bg-white
  //-           a.blog-grid-img(href="") this is the blog image here
  //-           .text-wrap
  //-             a.blog-grid-cat.caps(href="") PRODUCT DEVELOPMENT 
  //-             a.blog-grid-title
  //-               h5 How to Prevent Technical Debt
  //-             a.blog-grid-intro
  //-               p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

  section.section-pad.bg-purple.our-values
    .container
      .col-xs-12.col-md-6 
        .text-wrap
          h3.caps Our Values
          p RevUnit CEO Joe Saumweber illustrates 5 key learnings the most innovative enterprise leaders are learning from startups.
          ul.list--icon
            li
              span.icon
              span.text Learn how the most innovative workforces are being built and managed in 2017 with examples and case studies.
            li
              span.icon
              span.text Learn how the most innovative workforces are being built and managed in 2017 with examples and case studies.
          a.btn-custom.btn--orange(href="") Download the Guide
      .col-xs-12.col-md-6 
        div.img this is the image asset

//- global foot
include includes/foot.jade
