include includes/head.jade

  //- CHANGE THIS ON EACH TEMPLATE!!!!!!!
  .page--home 
  
    //- global header
    include includes/header.jade

  
  section.hero.hero--about
    .container
      .text-wrap
        h1 Digital Product Development 
        h2.sub-title Build Small, Learn Fast, Iterate Often.
        p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
        a.btn-custom.btn--teal(href="") Learn More
        .img-wrap This is the image asset



  
  section.bg-purple.the-right-philosopies
    .container
      .col-xs-12.col-md-6 
        .text-wrap
          h2.caps The Right Philosopies
          p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
      .col-xs-12.col-md-6 
        .the-right-philosopies-philosopies-wrap
            .item
                span.icon--ICON-NAME icon
                h4.caps DESIGN THINKING
                p Design Thinking is an industry methodology for inclusive design. It starts with a hyper focus on user empathy and welcomes participation from all product team members, not just designers.
            .item
                span.icon--ICON-NAME icon
                h4.caps DESIGN THINKING
                p Design Thinking is an industry methodology for inclusive design. It starts with a hyper focus on user empathy and welcomes participation from all product team members, not just designers.
            .item
                span.icon--ICON-NAME icon
                h4.caps DESIGN THINKING
                p Design Thinking is an industry methodology for inclusive design. It starts with a hyper focus on user empathy and welcomes participation from all product team members, not just designers.




  section.the-right-people
    .container
        .text-wrap
            h2.caps The Right People
            .row
            .col-xs-12.col-md-6 
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.
                span Build Small. Learn Fast. Iterate Often.
            .col-xs-12.col-md-6 
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.

        #the-right-peopl-slider
            .person-wrap
                .person-img.person-mobile-left.person-img--product-owner person image here
                .person-text.before.bg-teal
                    h4.caps Product owner
                    p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
            .person-wrap
                .person-img.person-mobile-right.person-img--product-owner person image here
                .person-text.before.bg-teal
                    h4.caps Product owner
                    p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
            .person-wrap
                .person-img.person-mobile-left.person-img--product-owner person image here
                .person-text.before.bg-teal
                    h4.caps Product owner
                    p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
            .person-wrap
                .person-img.person-mobile-right.person-img--product-owner person image here
                .person-text.before.bg-teal
                    h4.caps Product owner
                    p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.
            .person-wrap
                .person-img.person-mobile-left.person-img--product-owner person image here
                .person-text.before.bg-teal
                    h4.caps Product owner
                    p Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue.




  section.the-right-process
    .container
        .row
            .text-center.float-center
                h3.caps THE RIGHT PROCESS
                span icon is here
                h4.caps Pre-Flight
                p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
        .row
            .col-xs-12.col-md-6
                h4.caps Problem Solving
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here
        .row
            .col-xs-12.col-md-6
                h4.caps Problem Solving
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here
        .row
            .col-xs-12.col-md-6
                h4.caps Problem Solving
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here


  section.bg-purple.the-build
    .container
        .row
            .text-center.float-center
                span icon is here
                h4.caps The Build
                p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper.
        .row
            .col-xs-12.col-md-6
                h4.caps MVP
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here
        .row
            .col-xs-12.col-md-6
                h4.caps Design
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here
        .row
            .col-xs-12.col-md-6
                h4.caps Development
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here




  section.bg-teal.launch-and-iteration
    .container
        .row
            .text-center.float-center
                span icon is here
                h4.caps Launch and Iteration
        .row
            .col-xs-12.col-md-6
                h4.caps Product Adoption
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here
        .row
            .col-xs-12.col-md-6
                h4.caps Iteration
                p Empowering your workforce requires bold, strategic initiatives to transform your organization. As a digital product studio, RevUnit is uniquely positioned to help your people adapt to the changing needs of doing business in the 21st century.                         
            .col-xs-12.col-md-6
                .img-wrap image asset here

//- global foot
include includes/foot.jade
